// input[type='file'] {
// 	background: #313131;
// 	display: flex;
// 	flex-wrap: wrap;
// 	width: 100%;
// }

// form {
// 	> div {
// 		> div {
// 			> span {
// 				font-size: 20px;
// 				color: red;
// 			}
// 		}
// 	}
// 	> h1 {
// 		font-size: 30px;
// 		color: black;
// 	}

// 	> button {
// 		margin-top: 5vh;
// 		background-color: blue;
// 	}
// }

.createExcersice {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.createExcersiceSize {
    height: 56px;
    border-radius: 10px;
    width: 200px;
}

.showExcersice {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.showButtonsExcersice {
    font-size: 15px;
    cursor: pointer;

}