@import "../../styles/base";

.main {
    
  border-top: solid $grey-2 5px;
  border-bottom: solid $grey-2 5px;
  
  @include md (){
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
  }

  @include lg (){
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  

}

.main button {
    margin-left: 10px;
    margin-right: 10px;
}

.editPlan {
    flex-direction: row;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999; /* Colócalo por debajo del modal */
  pointer-events: auto; /* Habilita eventos de clic y toque en la capa de fondo */
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  padding: 20px;
  z-index: 1000;
  text-align: center;
  width: 300px;

  @include lg{
    width: 50
    0px;
  }
  @include md {
    width: 500px;
  }

}

.elHeader {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-bottom: 0;

  @include md (){
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }

  @include lg () {
    width: 360px; 
    height: 100%;
    justify-content: center;
    margin: 20px;
    padding: 10px;
  }
}

.elHeader img{
  border-radius: 50%;
  border: solid $orange-4 7px;
  width: 300px;
  height: 300px;
  @include md (){
  }
}



.elHeader h1{
  margin: 20px;
  font-size: 30px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  border-bottom: solid $orange-4 7px;
  text-align: center;
  @include md (){
    font-size: 45px;
    margin: 30px;
  }
}

.elBody{
  display: flex;
  flex-direction: column; 
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px;

  @include md (){
    display: flex;
    flex-direction: column; 
    width: 700px;
    margin: 20px;
  }

  @include lg () { 
    width: 600px;
    height: 100%;
    margin: 20px;
    justify-content: center;
    padding-bottom: 0;
    padding: 20px;
  }
}
.elBody h2{
  overflow-wrap: break-word;
  padding: 7px;
  font-size: 18px;
  border-bottom: solid $red-2 2px;
  @include md (){
    padding: 7px;
    font-size: 25px;
  }
  @include lg () {
    padding: 10px;
    font-size: 25px;
  }
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}
.loading svg{

  width: 300px;
  height: 300px;
}


