@import '../../styles/_base';

.group {
	> input {
		color: black;
	}
}

.cldButton {
	background-color: rgba(41, 108, 201, 0.874);
	color: white;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 15%;
	transition : background-color ease .2s;
	&:hover{
	background-color: #363636;

	}
}

form {
	> div {
		> span {
			font-size: 20px;
			color: red;
		}
	}
	> h1 {
		font-size: 30px;
		color: black;
	}

	> button {
		margin-top: 3vh;
	}
	> select {
		margin-bottom: 5vh;
	}
}
