@import '../../styles/_base';

@include lg {
	#Staticvideo {
		width: 100%;
		height: 700px;
	}
}
@include md {
	#Staticvideo {
		width: 100%;
		height: 350px;
	}
}

@mixin sharedStyles {
	.Container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $black-1;
		&-banner {
			width: 100%;
			display: flex;
			flex-direction: column;	
			align-items: center;

			> img {
				filter: brightness(0.85);
				width: 100%;
				height: auto;
				transform: scaleX(-1);
			}

			&-text {
				width: 49vw;
				font-weight: 500;
				color: #ffffff;
				text-align: right;
				position: absolute;
				font-size: 5vw;
				left: 10%;
				margin-top: 1.3em;
			}
		}

		&-welcome-text {
			width: 80%;
			margin: 6vh;
			font-size: 2vw;
			color: $orange-1;

			p {
				b {
					color: white;
				}
			}
		}

		&-take-a-tour-container {
			width: 80%;
			gap: 200px;
		}

		&-buttons {
			display: flex;
			width: 80%;
			justify-content: center;
			gap: 50px;
			margin-top: 2rem;
			a {
				font-family: 'Input Serif';
				font-size: 21px;
				border-radius: 40px;
				background-color: $orange-1;
				color: white;
				padding: 10px 50px;
				border: none;
				cursor: pointer;
				transition: color 0.2s ease;
				&:hover {
					color: black;
				}
			}
		}

		&-description {
			margin: 5vw 5vw 0 5vw;
			width: 100%;
			padding: 5% 10% 5% 10%;
			color: #ffffff;
			font-size: 2.25rem;
			background-color: $orange-landing;

			> h3 {
				margin-bottom: 6vh;
				font-family: 'Input Serif';
			}
		}
	}
}

@include lg {
	@include sharedStyles;
}

@include md {
	@include sharedStyles();
	.Container {
		&-banner {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			> img {
				filter: brightness(0.85);
				width: 100%;
				height: auto;
				transform: scaleX(-1);
			}

			&-text {
				width: 49vw;
				font-weight: 500;
				color: #ffffff;
				text-align: right;
				position: absolute;
				font-size: 5vw;
				left: 10%;
				margin-top: 1.3em;
				> h3 {
					white-space: pre-line;
				}
			}
		}

		&-welcome-text {
			width: 80%;
			margin: 6vh;
			font-size: 2vw;
			color: $orange-1;
			> p {
				> b {
					color: white;
				}
			}
		}

		&-take-a-tour-container {
			width: 80%;
			gap: 200px;

			&-text {
				font-size: 2vw;
				position: relative;
				display: inline-block;
				padding-right: 70%;
				color: $grey-2;
			}

			&-text::after {
				content: '';
				margin-left: 1%;
				position: absolute;
				top: 50%;
				width: 103%;
				height: 1px;
				background-color: #ccc;
			}
		}
		&-buttons {
			display: flex;
			margin-top: 1rem;
			justify-content: center;
			gap: 70px;
			margin: 1rem;
			 button {
				 font-family: 'Input Serif';
				 font-size: 18px;
				 border-radius: 40px;
				 background-color: $orange-1;
				 color: white;
				 padding: 5px 25px;
				 border: none;
				 margin-top: 1rem;
				cursor: pointer;
				transition: color 0.2s ease;
				&:hover {
					color: black;
				}
			}
		}

		&-description {
			margin: 5vw 5vw 0 5vw;
			width: 100%;
			padding: 5% 10% 5% 10%;
			color: $black-1;
			font-size: 2vw;
			background-color: $orange-1;

			> h3 {
				margin-bottom: 6vh;
			}
		}
	}
}

.container-modules {
	width: 80%;
	margin-top: 4rem;
	margin-bottom: 4rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5rem;
}

@include sm {
	@include sharedStyles();
	.Container{
		&-banner{
			width: 100vw;
			min-width: 100vw;
		}
		&-welcome-text {
			margin: 2rem 0;
			width: 85%;
		}
		&-take-a-tour-container{
			width: 100%;
			margin: 0 auto;
			&-images{
				iframe{
					width: 100%;
					min-height: 20vh;
				}

			}
		}
		&-buttons {
			margin: 1rem 0;
			a{
				text-align: center;
				font-size: .5rem;
				padding: .3rem;
				min-width: 40%;
			}
		}
		&-description {
			width: 100%;
			padding: 2.2rem 2.7rem;
			margin: 0;
			p {
				font-size: 1rem;
			}
		}
		.container-modules {
			width: 100%;
		}
	}
}
