@import '../../styles/_base';

@include sm {
	.Container {
		background-color: $grey-1;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 98vh;
		overflow: auto;
		overflow-x: hidden;
		scroll-snap-type: y mandatory;

		&-div {

			scroll-snap-align: center;
			display: flex;
			align-items: center;
			position: relative;
			flex-direction: column;
			> img {
				// box-shadow: 0px 5px 4px $grey-2;

				margin-bottom: 5vh;
				border-radius: 60px;
				opacity: 0.7;
				width: fit-content;
				height: 80vh;
				transform: scaleX(-1);
				overflow: hidden;
			}

			&-text {
				background-color: rgba($orange-3, 0.7);
				position: absolute;
				top: 40vh;
				border-radius: 50%;
				border: none;
				height: 19vh;
				width: 19vh;
				> h3 {
					font-size: 2em;
				}
			}

			&-text-2 {
				padding: 3vh;
				background-color: rgba($orange-3, 0.7);
				border-radius: 30px;
				text-align: center;
				position: absolute;
				top: 30vh;
				color: white;
				font-size: 2.5vh;
				width: 70vw;
			}

			&-text-3 {
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 7vh;
				color: white;
				background-color: rgba($orange-3, 0.7);
				padding: 50px;
				border-radius: 50px;

				a {
					font-size: 3vh;
					margin-bottom: 10px;
					border-bottom: 1px solid #ffffff;
					padding-bottom: 5px;
				}
			}

			&-videos {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2vh;
				width: min-content;
				position: absolute;
				top: 25vh;

				> h1{
					color: white;

				}

				> img{
					width: 25vh;
					height: auto;

				}
			}

			&-footer-links {
				padding-top: 2vh;
				background-color: black;
				width: 100vw;
				color: $grey-2;
				display: flex;
				gap: 10vw;
				font-size: 2vh;

				> ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					> li {
						width: 40vw;
						text-align: center;
						margin-bottom: 2vh;
					}
					> div {
						gap: 0.5vh;
						display: flex;
						flex-direction: column;
						align-items: center;
						> input {
							width: 45vw;
							font-size: 2vh;
							background: none;
							color: $grey-2;
							border-color: $grey-2;
						}
						> button {
							width: 20vw;
							padding: 2px;
							color: white;
							border: none;
							border-radius: 5px;
							background-color: $orange-1;
						}
					}
				}
			}

			&-footer-icons {
				background-color: black;
				justify-content: center;
				text-align: center;
				display: flex;
				gap: 25px;
				width: 100vw;

				> a {
					> img {
						width: 30px;
						height: 30px;
						margin: 2vh 0 2vh 0;
					}
				}
			}

			&-brand-container {
				width: 100vw;
				padding-top: 2vh;
				background-color: black;
				text-align: center;
				height: 15vh;
				margin-bottom: 18vh;
				h3 {
					color: #949292;
					font-size: 3.5vw;
				}
				h1 {
					color: white;
					padding-top: 2vh;
				}
			}
		}
	}
}
