@import '../../styles/_base';

@include sm {
	.Container {
		background-color: $grey-1;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		// height: 98vh; esta propiedad es la que habilita el scroll magnetico sobre Container
		overflow: auto;
		overflow-y: auto;

		overflow-x: hidden;
		scroll-snap-type: y mandatory;

		&-div {
			scroll-snap-align: center;
			display: flex;
			align-items: center;
			position: relative;
			flex-direction: column;
			> img {

				margin-bottom: 5vh;
				border-radius: 60px;
				opacity: 0.7;
				width: fit-content;
				height: 80vh;
				transform: scaleX(-1);
				overflow: hidden;
			}

			&-text {
				background-color: rgba($orange-3, 0.7);
				position: absolute;
				top: 40vh;
				border-radius: 50%;
				border: none;
				height: 19vh;
				width: 19vh;
				> h3 {
					font-size: 2em;
				}
			}

			&-text-2 {
				padding: 3vh;
				background-color: rgba($orange-3, 0.7);
				border-radius: 30px;
				text-align: center;
				position: absolute;
				top: 30vh;
				color: white;
				font-size: 2.5vh;
				width: 70vw;
			}

			&-text-3 {
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 7vh;
				color: white;
				background-color: rgba($orange-3, 0.7);
				padding: 50px;
				border-radius: 50px;

				a {
					font-size: 3vh;
					margin-bottom: 10px;
					border-bottom: 1px solid #ffffff;
					padding-bottom: 5px;
				}
			}

			&-videos {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2vh;
				width: min-content;
				position: absolute;
				top: 25vh;

				> h1{
					color: white;

				}

				> img{
					width: 25vh;
					height: auto;

				}
			}

		}
	}
}
