.landingBanner {
    width: 80%;  
    height: auto;
    transform: scaleX(-1);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingBannerText {
    font-size: 4em;
    text-align: right;
    left: 26rem;
    top: 17rem;
    position: absolute;
}