@import "../../styles/base";



.nousers {
  position: absolute;
  width: fit-content;
  background-color: #18181b;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  font-size: 4.5vw;
  transform: translate(-50%, 100%);
  left: 50%;
  margin-left: 40px;
 }

 .deletedUsersBtn {


    @include sm {
      padding: 0;
      left: 75vw;

      font-size: 11px;
      width: 6vw;
    }
 }

 