.containerVideos {

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
    }

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.div1 {
	grid-area: 1 / 1 / 3 / 3;
}
.div2 {
	grid-area: 1 / 3 / 3 / 4;
	width: 100%;
    height: 100%;
}
.h2Title{
    width: max-content;
    margin: 0.75rem;
    border: solid 2px black;

    @media (max-width: 768px) {
        width: 94%;
    }
}

.acordionItem{
    margin: 0.25rem;
    border: solid 2px black;
   
    @media (max-width: 768px) {
        margin: 0.25rem;
    }
}

.navtContainer{
    height: 100%;
}