@font-face {
  font-family: "Manrope Bold";
  src: url("./Fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope ExtraLight Regular";
  src: url("./Fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium Regular";
  src: url("./Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono Bold";
  src: url("./Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RussoOne Regular";
  src: url("./Fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}




@font-face {
  font-family: "RussoOne Regular";
  src: url("./Fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}




$font-primary: 'Suez One', sans-serif;
$font-secondary: 'Roboto', Arial, sans-serif;
$font-size-h1: 40px;
$font-size-h2: 24px;
$font-size-h3: 16px;
$font-size-body: 16px;
$font-size-caption: 14px;
$font-line-height-h1: 48px;
$font-line-height-h2: 32px;
$font-line-height-h3: 24px;
$font-line-height-body: 24px;
$font-line-height-caption: 22px;
$font-weight-normal: 400;
$font-weight-bold: 700;
