@use 'variables' as *;
@use 'fonts' as *;
$screen-sm: 766px;
$screen-md: 1023px;
$screen-lg: 1024px;

// Small devices (phones)
@mixin sm {
	@media only screen and (max-width: $screen-sm) {
		@content;
	}
}

// Medium devices (tablets)
@mixin md {
	@media only screen and (min-width: $screen-sm) and (max-width: $screen-md) {
		@content;
	}
}

// Large devices (desktops)
@mixin lg {
	@media only screen and (min-width: $screen-lg) {
		@content;
	}
}

// fuentes

@mixin heading1 {
	font-family: $font-primary;
	font-weight: $font-weight-normal;
	font-size: $font-size-h1;
	line-height: $font-line-height-h1;
}

@mixin heading2 {
	font-family: $font-primary;
	font-weight: $font-weight-normal;
	font-size: $font-size-h2;
	line-height: $font-line-height-h2;
}

@mixin heading3 {
	font-family: $font-secondary;
	font-weight: $font-weight-bold;
	font-size: $font-size-h3;
	line-height: $font-line-height-h3;
}

@mixin body {
	font-family: $font-secondary;
	font-weight: $font-weight-normal;
	font-size: $font-size-body;
	line-height: $font-line-height-body;
}

@mixin caption {
	font-family: $font-secondary;
	font-weight: $font-weight-normal;
	font-size: $font-size-caption;
	line-height: $font-line-height-caption;
}

@mixin Navbar($heightNav, $pd) {
	height: $heightNav;
	color: #ffffff;
	background: $grey-1;
	padding: $pd;
	display: flex;
	justify-content: space-between;
}

@mixin logoNav($imgSize) {
	height: $imgSize;
}

@mixin common-form-styles ($bordRa) {
  width: 100%;
  border-top-left-radius: $bordRa;
  border-top-right-radius: $bordRa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  background: $orange-1;

  &--group {
    padding: 1rem;
    width: 70%;

    &--label {
      display: block;
      text-align: center;
    }
    &--input {
      margin-top: 0.5rem;
      padding: 1rem;
      border-radius: 0.25rem;
      border: none;
      width: 100%;
      display: block;
    }
    .error {
      margin-top: 1rem;
      display: block;
      padding: 1rem;
      border: $red-1 solid 0.3rem;
      text-align: center;
    }
  }
  &--button {
    color: #fff;
    width: 30%;
    background-color: #ce171e;
    border-radius: 0.3rem;
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 2px 2px 10px #4a0303;
    }

    &:focus {
      outline: unset;
    }
    &:active {
      background: linear-gradient(to bottom, #4a0303, #ce171e);
    }
  }
}

// Mixin para estilos comunes de un contenedor
@mixin common-container-styles {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}
