// $green-1: #108E8B;
// $green-2: #57BFBD;
// $orange-1: #F2762E;
// $orange-2: #F4A170;
// $gray-1: #2D2D31;
// $gray-2: #626267;
// $gray-3: #E3E3E5;
// // $gray-4: #F8F8F8;
// $primary-color: #108E8B;
// $white-1: #FFFFFF;
// $gray-001: #E0E0E0;
// $gray-002: #333333;
// $gray-003: #222121;
// $gray-004: #828282;
// $gray-005: #BDBDBD;
// $gray-006: #F2F2F2;

$coral-1:#F8A284;
$orange-1: #F26522;
$orange-2: #E85721;
$orange-3: #E23E21;
$orange-4: #D93B20;
$red-1:#CE171E;
$red-2:#C4161C;
$grey-1: #1E1E1E;
$grey-2: #B7B7B7;
$brown-1:#57463F;

