$coral-1: #f8e1d8;
$orange-landing: #f15a22;
$orange-1: #f26522;
$orange-2: #e85721;
$orange-3: #e23e21;
$orange-4: #d93b20;
$red-1: #ce171e;
$red-2: #c4161c;
$grey-1: #1e1e1e;
$grey-2: #b7b7b7;
$grey-3: #4d4b45;
$grey-4: #3E3B39;
$brown-1: #57463f;
$black-1: #030303;





