@import './variables';

::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: $grey-2;
  }
  
  ::-webkit-scrollbar-thumb {
	background: $orange-1;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: $orange-3;
  }
  
html {
	font-size: 100%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	&::selection{
		background: $orange-1;
	}
}

body {
	font-family: Verdana, sans-serif;
	width: 100%;
}

a {
	color: unset;
	text-decoration: unset;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

h1,
h2 {
	font-family: 'Input Mono Condensed Bold';
}

h3 {
	font-family: 'Input Mono';

}

p {
	font-family: 'Input Serif';
}

b {
	font-family: 'Input Mono Condensed Bold';
}
