@import '../../styles/base';

.spanLogin{
	font-family: 'Input Mono';
	font-weight: 1000;
	padding: 1rem;
	// font-size: 15px;
}


@include lg {
	.Main {
		@include common-container-styles;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.body {
			justify-content: center;
			align-items: center;
			.Form {
				color: black;
				width: 40%;
				gap: 10%;
				border-radius: 1rem;
				min-height: 70vh;
				.recovery {
					color:  black;
				}
				button {
					margin-top: 1%;
				}
			}
		}
	}
}

@include md {
	.Main {
		@include common-container-styles;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.body {
			justify-content: center;
			align-items: center;
			.Form {
				@include common-form-styles(0);
				width: 90%;
				border-radius: 1rem;
				min-height: 70vh;
				button {
					margin-top: 1%;
				}
			}
		}
	}
}

@include sm {
	.Main {
		@include common-container-styles;
		display: flex;
		.body {
			justify-content: center;
			align-items: center;
			.Form {
				@include common-form-styles(0);
				width: 100%;
				border-radius: 1rem;

				button {
					margin-top: 1%;
				}
			}
		}
	}
}

.recovery {
	color: #fff;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
.googleLogo {
	width: 50px;
	height: auto;
	cursor: pointer;
}
.loginButton {
	max-width: 30%;
	margin-bottom: 1%;
}
