@import '../styles/base';

@include sm {
	.error-message {
		font-size: 20px;
		position: static;
    color: red;
	}

	.input-container {
		position: static; /* Ensure relative positioning */
		height: auto; /* Set a fixed or maximum height as needed */
		width: 100%;
	}

  .error-message.visible {
		visibility: visible; /* Show the error message when it has content */
	}
}

@include lg {
	.input-container {
		position: relative; 
		height: auto;
		width: 100%;
	}

	.error-message {
		color: red;
		visibility: hidden;
	}

  .error-message.visible {
		visibility: visible; /* Show the error message when it has content */
	}
/*

.error-message {
		width: 100%;
		position: absolute;
		bottom: -30px;
		left: 0; 
		color: red;
		visibility: hidden;
	}
	.error-message.visible {
		visibility: visible;
	}*/
}

@include md {
	.input-container {
		position: relative; 
		height: auto;
		width: 100%;
	}

  .error-message {
		color: red;
		visibility: hidden;
	}

  .error-message.visible {
		visibility: visible; /* Show the error message when it has content */
	}
/*
	.error-message {
		width: 100%;
		position: absolute;
		bottom: -30px;
		left: 0; 
		color: red;
		visibility: hidden;
	}

	.error-message.visible {
		visibility: visible;
	}*/
}

    visibility: visible; /* Show the error message when it has content */
  }




  