@import '../styles/base';

.input-container {
	font-family: 'Input Mono';
	text-align: center;
	font-size: .75rem;
	div {
		div {
			background-color: #2D3445;
			border-radius: .668rem;
		}
	}
}

@include sm {
	.error-message {
		position: static;
    // color: red;
	}

  .input-wrapper {
		height: auto;
		width: 100%;
	}


	.input-container {
		position: static; /* Ensure relative positioning */
		height: auto; /* Set a fixed or maximum height as needed */
		width: 100%;
		color: $black-1;
	}

  .error-message.visible {
		visibility: visible; /* Show the error message when it has content */
	}
}

@include lg {
	.input-container {
		position: relative; 
		height: auto;
		width: 100%;
	}

  .input-wrapper {
		height: auto;
		width: 100%;
	}

	.error-message {
		color: $black-1;
		visibility: hidden;
	}

  .error-message.visible {
		visibility: visible; /* Show the error message when it has content */
	}
/*

.error-message {
		width: 100%;
		position: absolute;
		bottom: -30px;
		left: 0; 
		color: red;
		visibility: hidden;
	}
	.error-message.visible {
		visibility: visible;
	}*/
}

@include md {
	.input-container {
		position: relative; 
		height: auto;
		width: 100%;
		color: $black-1;
	}

  .input-wrapper {
		height: auto;
		width: 100%;
	}


  .error-message {
		// color: red;
		visibility: hidden;
	}

  .error-message.visible {
		visibility: visible; /* Show the error message when it has content */
	}
/*
	.error-message {
		width: 100%;
		position: absolute;
		bottom: -30px;
		left: 0; 
		color: red;
		visibility: hidden;
	}

	.error-message.visible {
		visibility: visible;
	}*/
}





  