@import '../styles/_base.scss';
// Mixin para estilos compartidos en todos los tamaños de pantalla
@mixin sharedStyles {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $grey-1;
	}
	.landingBanner {
		width: 100%;
		height: auto;
		transform: scaleX(-1);
	}
	.banner {
		margin-top: 5em;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.landingBannerText {
		font-family: 'RussoOne Regular';
		color: #ffffff;
		text-align: right;
		position: absolute;
	}
	.h3-inline {
		color: white;
	}
	.welcomeText {
		font-family: 'Manrope ExtraLight Regular';
		color: $orange-1;
	}
}
// Mixin para estilos específicos de pantallas grandes (lg)
@include lg {
	@include sharedStyles;
	.welcomeText {
		width: 80%;
		margin: 6vh;
		font-family: 'Manrope ExtraLight Regular';
		font-size: 2vw;
		color: $orange-1;
	}
	.landingBannerText {
		font-size: 3.5vw;
		left: 15%;
		margin-top: 3em;
	}
	.buttonsContainer {
		display: flex;
		width: 80%;
		justify-content: space-evenly;
		> button {
			font-size: 2em;
			border-radius: 20px;
			background-color: $orange-1;
			color: white;
			padding: 10px 20px;
			border: none;
			cursor: pointer;
            transition: color .2s ease;
		
				&:hover {
                     color: black;
				
				}
	
		}
	}
	.takeATourContainer {
		width: 80%;
		gap: 200px;
	}
	.takeATour {
		font-size: 2vw;
		position: relative;
		display: inline-block;
		padding-right: 70%;
		color: $grey-2;
	}
	.takeATour::after {
		content: '';
		margin-left: 1%;
		position: absolute;
		top: 50%; 
		width: 103%; 
		height: 1px;
		background-color: #ccc; 
	}
	.imagesContainer {
		display: flex;
		justify-content: space-between;
		margin: 2vw 0 4vw 0;
		> img {
			height: auto;
			width: 30%;
		}
	}
	.description {
		margin: 5vw;
		font-family: 'Manrope ExtraLight Regular';
		width: 100%;
		padding: 5% 10% 5% 10%;
		color: white;
		font-size: 2vw;
		background-color: $orange-1;
	}
}

// // // Mixin para estilos específicos de pantallas medianas (md)
// // @mixin mdStyles {
// // 	@include sharedStyles;

// // 	// Define estilos específicos para pantallas medianas (tablets)
// // }

// // // Mixin para estilos específicos de pantallas pequeñas (sm)
// // @include sm {
// // 	@include sharedStyles;

// // 	// Define estilos específicos para pantallas pequeñas
// // }

// // @include mdStyles; // Aplica estilos para pantallas medianas (md)
