@import "./global.scss";

.landingBanner {
    width: 80%;  
    height: auto;
    transform: scaleX(-1);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingBannerText {
    font-size: 4em;
    text-align: right;
    left: 26rem;
    top: 17rem;
    position: absolute;
}

.h3-inline {
    display: inline;
    color: white;
  }

.welcomeText{
    font-size: 2em;
    color: $main-orange;
   
}

.buttonsContainer{
    display:flex ;   
    justify-content: space-around;     
    margin-top:5px;
    gap: 160px;

    > button {
        font-size: 2em;

        border-radius: 20px;
        background-color: $main-orange;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
}

.takeATourContainer{


}

.takeATour{
    position: relative;
    display: inline-block;
    padding-right: 10px; /* Espacio para la línea horizontal */
    
}

.takeATour::after {
    content: "";
    position: absolute;
    top: 50%; /* Centra verticalmente la línea */
    right: 0; /* Alinea a la derecha del texto */
    width: 100%; /* Asegura que la línea ocupe todo el ancho disponible */
    height: 1px; /* Altura de la línea */
    background-color: #ccc; /* Color gris de la línea */
}