@import '../../styles/base';

.fix-Header {
	header {
		width: 100% !important;
		max-width: 100% !important;
	}
}

@include lg {
	.Navbar {
		@include Navbar(10rem, 35px);
		&__logo {
			img {
				@include logoNav(90px);
				width: 100%;
				position: relative;
			}
		}
		
	}
	.login{
		display: block
	}
}

@include md {
	.Navbar {
		@include Navbar(10rem, 1rem);
		&__logo {
			img {
				@include logoNav(80px);
				width: 100%;
			}
		}
	}
}

@include sm {
	.Navbar {
		height: 5rem;
		display: flex;
		padding: 0.5rem;
		color: #ffffff;
		background: $grey-1;
		&__logo {
			img {
				@include logoNav(70px);
				width: 100%;
			}
		}
	}
	.login{
		display: none;
	}
}
