
.userRecordAutoRegistro {
    background-color: antiquewhite;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    height: 400px;
    width: 100%;
    justify-self: center;
}

.userRecordAutoRegistro canvas {
    display: grid;
    width: 100%;
    background-color: antiquewhite;
}