@import '../../styles/mixins';

@include lg{
    .Container{
        display: grid;
        // padding-left: 10vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        min-height: 80vh;
        max-width: 100vw;
        grid-template-areas:
        "sec1 sec1"
        "sec2 sec2"
        "sec3 sec3"

        ;
        .section1{
            grid-area: sec1;
            width: 50%;
            margin: auto;
        }
        .section2{
            grid-area: sec2;
            width: 50%;
            margin: auto;

        }
        .section3{
            grid-area: sec3;
            margin: auto;
            width: 50%;
        }
    }
}
@include md{
    .Container{
        display: grid;
        padding-left: 10vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 80vh;
        max-width: 100vw;
        grid-template-areas:
        "sec1 sec1"
        "sec2 sec2"
        "sec3 sec3"

        ;
        .section1{
            grid-area: sec1;
            width: 50%;
            margin: auto;
        }
        .section2{
            grid-area: sec2;
            width: 50%;
            margin: auto;

        }
        .section3{
            grid-area: sec3;
            margin: auto;
            width: 50%;
        }
    }
}

@include sm{
    .Container{
        display: grid;
        padding-left: 10vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 80vh;
        max-width: 100vw;
        grid-template-areas:
        "sec1 sec1"
        "sec2 sec2"
        "sec3 sec3"

        ;
        .section1{
            grid-area: sec1;
            width: 100%;
            margin: auto;
        }
        .section2{
            grid-area: sec2;
            width: 100%;
            margin: auto;

        }
        .section3{
            grid-area: sec3;
            margin: auto;
            width: 100%;
        }
    }
}