@import '../../styles/_base';

@mixin lg-styles {
    .footerLinksContainer {
        background-color: $grey-1;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .linksContainer {
        height: 500px;
        text-align: center;
    }
    
    .footerLinks {
        color: #949292;
        display: flex;
        padding-top: 70px;
        gap: 250px;
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .inputFooter {
        background: none;
        color: #949292;
        border-color: #949292;
        font-size: 20px;
        padding: 14px 10px;
        margin-top: -15px;
        margin-left: 60%;
    }
    .buttonContainer {
        margin-top: 40px;
        margin-left: 46%;
    }
    .footerButton {
        font-size: 18px;
        background-color: $orange-1;
        border: none;
        border-radius: 10px;
        height: 40px;
        color: #ffffff;
        font-weight: 500;
        width: 120px;
        cursor: pointer;
    }
    .footerButton:hover {
        color: red;
        text-decoration: underline;
    }
    .iconsContainer {
        background-color: black;
        justify-content: center;
        text-align: center;
        display: flex;
        gap: 50px;
        max-height: 300px;
    }
    .iconLink {
        width: 30px;
        height: 30px;
        margin-top: 50px;
    }
    .icons {
        width: 30px;
        height: 30px;
    }
    .brandContainer {
        padding-top: 35px;
        background-color: black;
        text-align: center;
        height: 150px;
        h1 {
            color: white;
            font-size: 10;
            padding-top: 20px;
        }
        h3 {
            color: #949292;
            font-size: 14px;
        }
    }
}

@include lg {
	@include lg-styles;
}

@include md {
	@include lg-styles;
}

@include sm {
	.Footer-container {
		background-color: $grey-1;


		&-footer-links {
			padding-top: 2vh;
			background-color: black;
			width: 100vw;
			color: $grey-2;
			display: flex;
			gap: 10vw;
			font-size: 2vh;

			> ul {
				display: flex;
				flex-direction: column;
				align-items: center;
				> li {
					width: 40vw;
					text-align: center;
					margin-bottom: 2vh;
				}
				> div {
					gap: 0.5vh;
					display: flex;
					flex-direction: column;
					align-items: center;
					> input {
						width: 45vw;
						font-size: 2vh;
						background: none;
						color: $grey-2;
						border-color: $grey-2;
					}
					> button {
						width: 20vw;
						padding: 2px;
						color: white;
						border: none;
						border-radius: 5px;
						background-color: $orange-1;
					}
				}
			}
		}

		&-footer-icons {
			background-color: black;
			justify-content: center;
			text-align: center;
			display: flex;
			gap: 25px;
			width: 100vw;

			> a {
				> img {
					width: 30px;
					height: 30px;
					margin: 2vh 0 2vh 0;
				}
			}
		}

		&-brand-container {
			width: 100vw;
			padding-top: 2vh;
			background-color: black;
			text-align: center;
			height: 15vh;
			margin-bottom: 18vh;
			h3 {
				color: #949292;
				font-size: 3.5vw;
			}
			h1 {
				color: white;
				padding-top: 2vh;
			}
		}
	}
}
