@import '../../styles/base';

@include sm {
  .Main {
		.body {
      display: flex;
			align-items: center;
			.Form {
				@include common-form-styles(0);
				width: 100%;
				gap: 10%;
				border-radius: 1rem;
				min-height: 60vh;
			}
		}
	}
}

@include md {
  .Main {
		.body {
      display: flex;
			align-items: center;
			.Form {
				@include common-form-styles(0);
				width: 80%;
				border-radius: 1rem;
				min-height: 70vh;
			}
		}
	}
}

@include lg {
  .Main {
		.body {
      display: flex;
			align-items: center;
			.Form {
				@include common-form-styles(0);
				width: 40%;
				gap: 10%;
				border-radius: 1rem;
				min-height: 70vh;
			}
		}
	}
}