@import "../../styles/base";

.articleAutoView {
    display: grid;
    width: 95%;
    justify-content: center;
    background-color: $grey-4;
    border-radius: 20px 20px 0 0;
    padding-bottom: 36px;
    grid-template-columns: repeat(11, minmax(20px, 1fr));
}

.articleAutoView header {
    border-radius: 8px;
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;


}

.articleAutoView h2 {
    text-align: center;
    font-size: 40px;
    border-radius: 20px 20px 0 0;
    
    @include md{
        font-size: 30px;
    }

    @include sm{
        font-size: 30px;
    }
}

.articleAutoView section {
    display: grid;
    // background-color: red;
   border-radius: 8px;
    grid-template-columns: repeat(9, minmax(20px, 1fr));
    grid-column-start: 2;
    grid-column-end: -2;

    @include sm {
        grid-column-start: 1;
    grid-column-end: -1;
    gap: 15px;
    }
}

.sectionCompetencia{
    grid-column-end: 5;
    grid-column-start: 1;
    border-radius: 5px;

    background-color: $grey-1;

    &:hover{
        cursor: pointer;
    }

    @include sm {
        grid-column-end: 1;
    grid-column-start: -1;
    }
}

.sectionEntrenamiento {
    grid-column-end: 6;
    grid-column-start: -1;
    border-radius: 5px;

    background-color: $grey-1;

    &:hover{
        cursor: pointer;
    }

    @include sm {
        grid-column-end: 1;
    grid-column-start: -1;
    }
}

.description{
    padding: 20px;
    width: 100%;
}

.buttonCompetencia {
    background-color: black;
    padding: 10px;
    border-radius: 3px;
    width: 100%;

}

.buttonEntrenamiento {
    background-color: black;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
}



