@import "../../styles/base";


.mainFilter {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    border-top: 0;
    margin: 8px 0 8px;
    @include sm () {
        
    }
}

.mainFilter label {
    font-size: 12px;
    @include sm () {
        white-space: nowrap;
        font-size: 10px;
    }
}

.select {
    font-size: 15px;
    min-width:90px;
    min-height: 30px;
    border-radius: 10px;

    @include sm () {
        font-size: 12px;
        min-width: 80px;
        min-height: 30px;

    }
}
.mainFilter option {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    @include sm () {
        font-size: 15px;
    }
}

.mainFilter .diver {
    width: 150px;
    margin-left: 10px;
    justify-content: center;
    
}