@import "../../styles/base";



.main {
    max-width: 100%;
    border-top: solid $grey-2 5px;
    border-bottom: solid $grey-2 5px;
    
    @include md {
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: space-between;
    }

    @include lg {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    

}

.elHeader {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-bottom: 0;

  @include md {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }

  @include lg  {
    width: 360px; 
    height: 100%;
    justify-content: center;
    margin: 20px;
    padding: 10px;
  }
}

.elHeader img{
  border-radius: 50%;
  border: solid $orange-4 7px;
  width: 300px;
  height: 300px;
  @include md {
  }
}



.elHeader h1{
  margin: 20px;
  font-size: 30px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  border-bottom: solid $orange-4 7px;
  text-align: center;
  @include md {
    font-size: 45px;
    margin: 30px;
  }
}

.elBody{
  display: flex;
  flex-direction: column; 
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px;

  @include md {
    display: flex;
    flex-direction: column; 
    width: 700px;
    margin: 20px;
  }

  @include lg  { 
    width: 600px;
    height: 100%;
    margin: 20px;
    justify-content: center;
    padding-bottom: 0;
    padding: 20px;
  }
}

.elBody h2{
  padding: 7px;
  font-size: 18px;
  border-bottom: solid $red-2 2px;
  @include md {
    padding: 7px;
    font-size: 25px;
  }
  @include lg  {
    padding: 10px;
    font-size: 25px;
  }
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}
.loading svg{

  width: 300px;
  height: 300px;
}

.button {
  margin-right: 15px;
  margin-left: 15px;
}

.buttonImg {
  margin: 10px;

}


